<h1>Welcome to <%=@crm_app_name %></h1>
<h4>The date today is <%=@date %></h4>
<p>This is a page that I have been working on at my time at bit maker labs. this page is a work in progress. </p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="https://www.facebook.com/john.marshall.9803">My Facebook!</a></li>
  <li><a href="/contacts/new">Add a contact</a></li>
  <li><a href="https://www.johnselectricmiata.com">My Car Blog!</a>
</ul>
