<!DOCTYPE html>
<html>
  <head>
    <title> My CRM </title>
    <style>
      p {
      color: red;
      background-color: black;
      }

      h1 {
        font-size: 60px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>