<!DOCTYPE html>
<html>
  <head> This is John Marshall's Page
    <title> Hello</title>
    <style>
      p {
      color: green;
      background-color: white;
      }

      h1 {
        font-size: 24px;
      }
    </style>
  <footer>contact information:</footer>
  <footer>john.marshall@ucc.on.ca</footer>
  <footer>416 319 9769</footer>
  <a href="https://www.google.ca/maps/place/Bitmaker+Labs/@43.647477,-79.38709,15z/data=!4m2!3m1!1s0x0:0x38fdb7d96640b4da?sa=X&ei=9MSBVYWHA6-OsQTOwYmYDA&ved=0CIABEPwSMA0">220 King St. West</a>
  </head>
  <body>
    <%= yield %>
  </body>
</html>